.cats-list ul {
  display: flex;
  list-style: none;
  margin: 30px 0 50px 0;
}

.cats-list li {
  margin: 10px;
  max-width: 120px;
  padding: 10px;
  text-align: center;
}

.cats-list li:hover,
.cats-list li:focus {
  box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

.cats-list li .img {
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cats-list li .category-name {
  line-height: 20px;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 17px;
}
