.item-product{
    position: relative;
    height: 380px;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.item-product:focus,
.item-product:hover{
    position: relative;
    z-index: 3;
    overflow: visible;
    background-color: #fff;
    border: none;
}

.item-product .view-fifth1{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}

.item-product:hover .view-fifth1{
    box-shadow: 0 7px 15px 0 rgba(0,0,0,.19);
}

.grid_img{
    height: 307px;
}

.buy{
    margin: 20px 0;
}

.offers form{
    margin-bottom: 20px;
}

.input-group-btn2 .btn{
    border-radius: 0;
    border-left: 0;
}

.bx-filter .radio label,
.bx-filter .checkbox label{
    display: block;
}

.products .mens-toolbar{
    width: 100%;
} 

.loader{
    display: none;
    position: absolute;
    z-index: 11;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.loader img{
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
}

